<h1>Listing paciente_resposta</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paciente_resposta.each do |paciente_respostum| %>
  <tr>
    <td><%= link_to 'Show', paciente_respostum %></td>
    <td><%= link_to 'Edit', edit_paciente_respostum_path(paciente_respostum) %></td>
    <td><%= link_to 'Destroy', paciente_respostum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Paciente respostum', new_paciente_respostum_path %>
