<h1>Indice de Gail</h1>
<p>O Índice de Gail, utiliza algumas informações para calcular a probabilidade do surgimento do câncer de mama em uma determinada mulher através do estudo de características, como a sua idade, hábitos, fumo, ingestão de álcool e alguns medicamentos, como os anticoncepcionais.
</p>
<p>A intenção desta pesquisa além informar a probabilidade do desenvolvimento do câncer de mama, é de formar uma base de dados para que outros estudiosos da area médica possam ter uma fonte de pesquisa. 
</p>
<p>Você pode responder esse questionário de forma anonima, Muito obrigada pela sua colaboração.
</p>


<%= link_to 'Iniciar questionário', new_paciente_path, :class=>"submit" %>
