<h1>Indice de Gail</h1>
<p>O Índice de Gail, utiliza algumas informações para calcular a probabilidade do surgimento do câncer de mama em uma determinada mulher através do estudo de características, como a sua idade, cracteristaicas genéticas e histórico médico.
</p>
<p>A intenção deste trabalho além informar a probabilidade do desenvolvimento do câncer de mama, é de formar uma base de dados para que outros pesquisadores da area médica possam ter uma fonte de pesquisa.
</p>
<p><b>Você pode responder esse questionário de forma anonima, sendo obrigatório apenas sua idade e se tiver convenio médico responde qual. O questionário é voltado para mulheres que tenham mais de vinte anos!</b>
</p>
<p>Muito obrigada pela sua colaboração.</p>


<%= link_to 'Iniciar questionário', new_paciente_path, :class=>"submit" %>
