<%= form_for(@escolaridade) do |f| %>
  <% if @escolaridade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@escolaridade.errors.count, "error") %> prohibited this escolaridade from being saved:</h2>

      <ul>
      <% @escolaridade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
