<h1>Listing escolaridades</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @escolaridades.each do |escolaridade| %>
  <tr>
    <td><%= link_to 'Show', escolaridade %></td>
    <td><%= link_to 'Edit', edit_escolaridade_path(escolaridade) %></td>
    <td><%= link_to 'Destroy', escolaridade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Escolaridade', new_escolaridade_path %>
