/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


* {
	margin: 0px;
	padding: 0px;
	outline: none;
	border: 0px;
}

body {
	background-color:#FFDBE7 !important;
	color:#6D6D6D !important;
}

input, textarea, select, a {
	border: 1px solid #CCC;
	border-radius: 4px;
	color:#6D6D6D;
}

input[type="text"], textarea {
	box-shadow: inset 1px 2px 1px #EEE;
	padding: 5px;
}

input[type="submit"], a {
	padding: 5px 10px;
	border: 1px solid #CA6489;
	box-shadow: 0px 1px 1px #BBB;
	background:#FF8CA8;
	color: #FFF !important;
	text-shadow: 0px -1px #CA6489;
	cursor:pointer;
	font-size:13px;
}

input[type="submit"]:hover, a:hover {
	background:#FF4A84;
	box-shadow:0px 1px 3px #FF598E;
}

a {
	text-decoration:none;
	margin-right: 10px;
}

p {
	margin: 15px 0px;
}

h1 {
	margin-bottom:15px;
	color: #FF8CA8 !important;
	text-shadow: 0px -1px #CA6A90;
}

tr {
	display:block !important;
	margin-bottom:15px;
}

form {
	margin-bottom:15px;
}

.wrapper {
	display:block;
	width:800px;
	margin:30px auto;
	background: #FFF;
	padding:30px;
	border-radius:10px;
	box-shadow: 0px 1px 10px #A86588;

}

#header-img {
	background: url('/assets/bggail.jpg');
	width: 100%;
	display: block;
	height: 250px;
	margin-bottom: 30px;
}

.field_with_errors input {
  border: 2px solid red !important;
}

#error_explanation > ul {
list-style-type: circle;
padding-left: 20px;
}
#error_explanation {
  width: 450px;
  margin-bottom: 20px;
  background-color: #f0f0f0;}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 16px;
  list-style: square; }
}