<h1>Listing alternativas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alternativas.each do |alternativa| %>
  <tr>
    <td><%= link_to 'Show', alternativa %></td>
    <td><%= link_to 'Edit', edit_alternativa_path(alternativa) %></td>
    <td><%= link_to 'Destroy', alternativa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alternativa', new_alternativa_path %>
